[run]
source = base_n

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if __name__ == .__main__.:
    if __name__ == "__main__":
    raise NotImplementedError
    pass
    raise ImportError
    except ImportError:
    def main\(\):

ignore_errors = True

[html]
directory = htmlcov 